In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

# Load dataset (Example dataset)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', None],
    'Age': [25, np.nan, 30, 35, 40, 29],
    'Salary': [50000, 60000, np.nan, 80000, 70000, 65000],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Chicago', 'New York', 'Los Angeles']
}
df = pd.DataFrame(data)

print("Original Data:")
print(df)

# Handling Missing Data
imputer = SimpleImputer(strategy='mean')
df[['Age', 'Salary']] = imputer.fit_transform(df[['Age', 'Salary']])
print("\nAfter Handling Missing Values:")
print(df)

# Removing Duplicates
df = df.drop_duplicates()
print("\nAfter Removing Duplicates:")
print(df)

# Encoding Categorical Data
encoder = OneHotEncoder(sparse=False, drop='first')
encoded_cities = encoder.fit_transform(df[['City']])
df_encoded = pd.DataFrame(encoded_cities, columns=encoder.get_feature_names_out(['City']))
df = pd.concat([df, df_encoded], axis=1).drop('City', axis=1)
print("\nAfter Encoding Categorical Data:")
print(df)

# Feature Scaling
scaler = StandardScaler()
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])
print("\nAfter Feature Scaling:")
print(df)

ModuleNotFoundError: No module named 'pandas'